<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código. </th>
    <td mat-cell *matCellDef="let course"> {{course.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let student"> {{student.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Endereço </th>
    <td mat-cell *matCellDef="let student"> {{student.endereco}} </td>
  </ng-container>
  
  <!-- Name Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Cidade </th>
    <td mat-cell *matCellDef="let student"> {{student.cidade}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="birthday">
    <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
    <td mat-cell *matCellDef="let student"> {{student.dataNasciment}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
