<mat-card class="menu-option-container">
  <mat-card-header>
    <mat-card-title>
      <h4>Adicionar Cursos</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-button color="primary" (click)="save()">
      <mat-icon>check</mat-icon>
      Adicionar aos Meus cursos
    </button>
    <button mat-button>
      <mat-icon>mode_edit</mat-icon>
      Editar
    </button>
  </mat-card-content>
</mat-card>
<form class="formularios" [formGroup]="addCourseForm">
  <mat-form-field>
    <textarea matInput formControlName="name" type="text" placeholder="Descrição do curso"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data de início</mat-label>
    <input matInput formControlName="begin" [matDatepicker]="beginPicker"/>
    <mat-datepicker-toggle matSuffix [for]="beginPicker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data de témino</mat-label>
    <input matInput formControlName="end" [matDatepicker]="endPicker"/>
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>