<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código. </th>
    <td mat-cell *matCellDef="let course"> {{course.codigo}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="about">
    <th mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let curso"> {{curso.about}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
